<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Liste des rendez-vous</title>
    <link rel="stylesheet" href="css/rdvlist.css"/>
    <script src="js/modifyRdvList.js" type="text/javascript" async></script>

</head>

<body>
    <h1>Liste des rendez-vous</h1>
    <form>
        <table>
            <thead>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Adresse</th>
                <th>Email</th>
                <th>Téléphone</th>
                <th>Date</th>
                <th>Heure</th>
                <th>Prestation</th>
                <th></th>
            </thead>
            <tbody>
                <% rdvs.forEach((rdv) => { %>
                    <tr id=<%= rdv.id %> >
                        <td class="nom_client"><%= rdv.nom_client %> </td>
                        <td class="prenom_client"><%= rdv.prenom_client %> </td>
                        <td class="adresse_client"> <%= rdv.adresse_client %> </td>
                        <td class="mail_client"><%= rdv.mail_client %> </td>
                        <td class="phone_client"><%= rdv.phone_client %> </td>
                        <td class="date_rdv" formatDate="<%=rdv.date_rdv.toLocaleDateString('en-CA')%>"><%= rdv.date_rdv.toLocaleDateString() %> </td>
                        <td class="heure_rdv"><%= rdv.heure_rdv %></td>
                        <td class="prestation"><%= rdv.prestation %> </td>
                        <td><input type="submit" value="Supprimer" class="delete <%= rdv.id %>"/></td>
                        <td><input type="submit" value="Modifier" class="update <%= rdv.id %>"/></td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    </form>
    <div class="modal">
        <div class="modal-delete">
            <span class="close closeSpan">&times</span>
            <p>Confirmez la suppression</p>
            <div id="divButton">
                <button id="yesDeleteBtn">Oui</button>
                <button id="noDeleteBtn" class="close">Non</button>
            </div>
        </div>
        <div class="modal-update">
            <span class="close closeSpan">&times</span>
            <div id="input">
                <label> Nom <input type="text" name="nom"/></label>
                <label> Prénom <input type="text" name="prenom"/></label>
                <label> Adresse <input type="text" name="adresse"/></label>
                <label> Email <input type="text" name="mail"/></label>
                <label> Téléphone <input type="number" name="phone"/></label>
                <label> Date <input type="date" name="date"/></label>
                <label> Heure
                    <select name="heure">
                        <option value="">--:--</option>
                        <option value="10:00">10h00</option>
                        <option value="10:30">10h30</option>
                        <option value="11:00">11h00</option>
                        <option value="11:30">11h30</option>
                    </select>
                </label>
                <label>Choisissez votre massage :
                    <select name="prestation">
                        <option value=""></option>
                        <option value="Massage californien">Massage californien</option>
                        <option value="Massage shirotchampi">Massage shirotchampi</option>
                        <option value="Massage femmes enceinte">Massage femmes enceinte</option>
                        <option value="Massage pierres chaudes">Massage pierres chaudes</option>
                    </select>
                </label>
            </div>
            <p>Confirmez la modification</p>
            <div id="divButton">
                <button id="yesUpdateBtn">Oui</button>
                <button id="noUpdateBtn" class="close">Non</button>
            </div>
        </div>
    </div>

</body>
</html>